.projectBanner {
    padding: 1rem 16rem 4rem;
}
.projectBanner *+.bigHeader {
    margin-top: 2.5rem !important;
}
.bigHeader {
    background-color: rgb(253, 137, 4);
    color: white;
    margin-bottom: 2.5rem;
}
.projectBanner p {
    margin-bottom: 1.5rem;
}
li {
    margin-bottom: 0.75rem
}