.fourty-five-page {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;

}

#sidebar,#intro,#IntroFourty,#whyjoin,#WhySunshineFourty,#ApplyFourty,#SchoolFourty {
    background-color: rgb(253,137,4);
 }


body {
    background-color: rgb(82,97,147);
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .peopleCarouselImg img {
    width: auto;
    height: 250px;
    max-height: 250px;
  }


 p,li {
    text-align:justify;
    font-size: 21px;
    
 }

 h1 a{
    text-decoration: none;
 }

.carousel-inner div {
   clear: none;
 }
