
body {
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(82,97,147);
    color: #000;
 }
 h1 {
    text-align: center;
    font-weight: bold;
 }
 p,li,div {
    color: #000;
    clear:left;
 }
 p,li {
    text-align:justify;
    font-size: 21px;
 }

 p {
     color: #000;
 }

 #sidebar,#intro,#ourstory,#whydowehelp,#howdowehelp,#schools,#sunshinefortunebags {
    background-color: rgb(253,137,4);
 }


/* general circular text box declaration */
.numberCircle {
   width: 300px;
   line-height: normal;
   height: 300px;
   border-radius: 50%;
   text-align: center;
   font-size: 34px;
   color:rgb(255, 168, 37);
   border: 5px solid rgb(255, 168, 37);
   padding:70px 0;

   float:left;
   clear:right;
   margin-left: 80px;
   background-color:none;
}

/* the numbers */
.numberCircle > b{
   font-size: 70px;
}

/* specific circular text box */
#c1 {
}

#c2 {
   background-color:rgb(51, 107, 89);
   border:none;
   padding: 60px 0;
}

#c2 > b{
   font-size: 100px;
}

#c3 {
   padding: 60px 0;
   font-size: 40px;
}

#c4 {
}

#c5 {
   background-color:rgb(255, 168, 37);
   color:rgb(240, 237, 156);
   border:none;
}

#c6 {
   padding: 70px 0;
   font-size: 40px;
}

/* how we help section */
#wehelp{
   width:100%;
   height: 500%;
   background-color: rgb(255, 244, 179);
}


#roundimg{
   float:left;
   clear:left;
   border-radius: 50%;
   width: 400px;
   height: 400px;
   margin-top:10%;
   margin-left:5%;
}

#helptext{
   margin-top:2.5%;
   float:left;
   clear:left;
   padding:50px 100px;
}

#helptext h1{
   font-size:80px;
   color:rgba(0, 47, 189, 0.858);

}

#helptext p{
   font-size:25px;
   color:rgba(0, 47, 189, 0.858);
}

#helptext .reportsBanner{
   font-size:25px;
   color:rgba(0, 47, 189, 0.858);
   background-color: rgb(255, 244, 179);
}

/* we tackle section */
.wetackle{
   display: table;
   height: 500%;
   width:100%;
}

.wetackle > div {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   width: 50%;
   padding:50px 100px;
}


.left_half {
   background-color: #ff9e2c;
}

.right_half{
   background-color: #3348ad;
}

.left_half h1{
   font-size:100px;
   color:rgba(0, 47, 189, 0.858);
}

.left_half p{
   font-size:25px;
   color:rgba(0, 47, 189, 0.858);
}

.right_half h1{
   font-size:50px;
   color:white;
}

.right_half p{
   font: size 25px;
   color:rgb(232, 232, 186);
}

.right_half span{
   font-family: cursive;
}


/* smart phone */
@media (max-width:480px) {
   .numberCircle {
      width: 130px;
      line-height: normal;
      height: 130px;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      color:rgb(255, 168, 37);
      border: 3px solid rgb(255, 168, 37);
      padding:20px 0;
      margin-left: 10px;
      background-color:none;
   }

   /* the numbers */
   .numberCircle > b{
      font-size: 25px;
   }

   /* specific circular text box */
   #c1 {
   }

   #c2 {
      background-color:rgb(51, 107, 89);
      border:none;
      padding: 10px 0;
   }

   #c2 > b{
      font-size: 50px;
   }

   #c3 {
      padding: 20px 0;
      font-size: 18px;
   }

   #c4 {
      font-size: 17px;
   }

   #c5 {
      background-color:rgb(255, 168, 37);
      color:rgb(240, 237, 156);
      border:none;
      padding: 30px 0;
   }

   #c6 {
      padding: 25px 0;
      font-size: 20px;
   }

   /* how we help section */
   #wehelp{
      width:100%;
      background-color: rgb(255, 244, 179);
   }

   /* eliminate image by set height and width to 0px */
   #roundimg{
      width: 0px;
      height: 0px;
   }

   #helptext{
      margin-top:-10px;
      margin-bottom: 15px;
      float:left;
      clear:left;
      padding:0px 5px;
   }

   #helptext h1{
      font-size:35px;
      color:rgba(0, 47, 189, 0.858);

   }

   #helptext p{
      font-size:18px;
      color:rgba(0, 47, 189, 0.858);
   }

   #helptext .reportsBanner{
      font-size:18px;
   }

   /* we tackle section */
   .wetackle{
      height: 150vh;
      width:100%;
   }

   .wetackle > div {
      float:left;
      text-align: center;
      vertical-align: middle;
      width: 100%;
      padding:25px 25px;
   }


   .left_half {
      height: 50vh;
      background-color: #ff9e2c;
   }

   .right_half{
      height: 100vh;
      background-color: #3348ad;
   }

   .left_half h1{
      margin-top: 5%;
      font-size:70px;
      color:rgba(0, 47, 189, 0.858);
   }

   .left_half p{
      font-size:18px;
      padding: 0px 30px;
      color:rgba(0, 47, 189, 0.858);
   }

   .right_half h1{
      margin-top: 20%;
      font-size:50px;
      color:white;
   }

   .right_half p{
      margin-top: 10%;
      font: size 17px;
      color:rgb(232, 232, 186);
   }

   .right_half span{
      font-family: cursive;
   }
}

/* medium screen */
@media (min-width:481px){
   
} 


/* large screen */
@media (min-width:769px){

}
